<%= form_with model: @project do |f| %>

  <%= f.hidden_field :projectable_type, value: @project.projectable.class.name %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'border border-gray-800 rounded-xl' %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description, class: 'border border-gray-800 rounded-xl' %>
  </div>

  <%= render "projects/project_types/#{ @project.projectable.class.name.underscore }_fields",
             f: f,
             projectable: @project.projectable %>

  <div class="mt-4">
    <%= f.submit "Save", class: "px-8 py-2 border border-gray-800 rounded-xl hover:bg-gray-800 hover:text-white cursor-pointer" %>
  </div>
<% end %>
