<div class="grid grid-cols-3 mt-8">
  <%= form_with model: @project do |f| %>

    <%= f.hidden_field :projectable_type, value: @project.projectable.class.name %>

    <div class="input-div">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'input-styling' %>
    </div>

    <div class="input-div">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'input-styling' %>
    </div>

    <%= render "projects/project_types/#{ @project.projectable.class.name.underscore }_fields",
              f: f,
              projectable: @project.projectable %>

    <div class="mt-8">
      <%= f.submit "Save", class: "px-8 py-2 border border-gray-800 hover:bg-gray-800 hover:text-white cursor-pointer" %>
    </div>
  <% end %>
</div>